/* design by flosha */

/* Base */

@font-face {
  font-family: "IBM VGA 8x16";
  src: url("/_img/fonts/ibm-vga-8x16.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-size: 16px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  background-color: #000;
  color: #7a7875;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  padding: 0;
  margin: 0;
}

body {
  --header-padding-top: 48px;

  display: flex;
  margin: 0;
  align-items: stretch;
  font-size: 12px;
  line-height: 1.4;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: inherit;
}

h2 {
  font-size: 12px;
  font-weight: normal;
}

/*
h1{font-family:verdana,helvetica;font-size:16pt;}
h2{font-family:verdana,helvetica;font-size:14pt;}*/
h3 {
  font-family: serif;
  font-size: 12pt;
}

h4 {
  font-family: serif;
  font-size: 10pt;
}

img {
  max-width: 100%;
  display: block;
}

pre {
  max-width: 100%;
  white-space: pre-wrap;
}

::selection {
  background: #2d3a34;
}

ul {
  list-style: none;
  padding-left: 12px;
}

/* Base - Links */

/*
a:link{ color: #84bc9a; }
a:visited { color: #84bc9a; }
a:active { color: #505a53; }
*/

a:link,
a:visited {
  color: #a1a582;
}

a:active {
  color: #505a53;
}

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
  transition: all 0.3s ease-out;
}

a:hover {
  text-decoration: underline;
}

/* .pt class is not used */
/* a.pt:link {
  color: #fdc698;
} */

a img {
  opacity: 1;
  transition: .4s ease-in-out;
}

a:hover img {
  opacity: 0.6;
}

/* Base - Scrollbar */

nav,
html {
  scrollbar-color: #424242 #101010;
}

nav::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 10px;
}


/* Nav */

nav {
  width: 340px;
  flex-shrink: 0;
  height: 100dvh;
  position: sticky;
  top: 0;
  overflow: auto;
}

nav ul li {
  font-size: 16px;
  font-family: monospace;
}

nav h2 {
  margin-top: 5em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8rem;
}

.menu-bar,
#menu-toggle {
  display: none;
}

header {
  font-size: 16px 12px;
  padding-top: var(--header-padding-top);
  font-family: "IBM VGA 8x16", monospace;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  max-width: 220px;
  aspect-ratio: 325/257;
}

header h1 {
  font-weight: inherit;
  margin: 1em 1em 2em;
  border: 1px solid #464646;
  padding: 8px 12px;
  display: block;
  text-align: center;
  max-width: 200px;
  font-size: 16px;
}

/*
header a:link h1:hover {
  color: #b6b2a3;
}

header a:visited {
  color: #b6b2a3;
}
*/

header a:link {
  text-decoration: none;
}

header a:visited {
  text-decoration: none;
}

header a:hover {
  color: #9a5050;
}

.menu-index {
  padding: 0 12px 48px;
}

.base-links {
  padding: 0;
  margin: 0;
}

.download {
  position: relative;
  margin: 48px auto 0;
  border: 1px solid #464646;
  border-top: none;
  font-size: 11px;
  width: fit-content;
}

.download::before,
.download::after {
  content: '';
  position: absolute;
  top: 0;
  border-top: 1px solid #554b43;
  width: calc(50% - 15ch);
  background-color: #554b43;
}

.download::before {
  left: 0;
}

.download::after {
  right: 0;
}

.download h2 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  margin: 0;
  line-height: 1;
  font-size: inherit;
  white-space: nowrap;
}

.download a:link {
  text-decoration: none;
  color: #a1a582;
}

.download a:hover {
  color: #9a5050;
}

.download p {
  text-align: center;
  padding: 1.6em 2.6em;
  font-size: 12px;
  margin: 0;
}

/* .selected class is not used. */
/* .selected {
  font-weight: bold;
} */

.phoenix-ascii {
  max-width: 100px;
  margin: 4em auto;
}

/* Style <ul> and <li> as Tree View */

ul.copyright {
  margin: 1em 0;
  padding: 0;
}

ul.copyright li {
  font-size: 10px;
  color: #393939;
  text-align: center;
}

/* Article/Content */

main {
  max-width: 100%;
  padding: 0 50px;
}

.article,
.article p,
.article li,
.article table,
.article tr,
.article td,
.article th {
  font-family: verdana, helvetica;
  font-size: 10pt;
}

.content {
  font-family: "Verdana, Arial, Helv, Helvetica, SanSerif";

  margin: 4em 0;
  max-width: 500px;
}

.index,
.content {
  margin: 4em 0 1em;
  max-width: 500px;
  min-width: 400px;
}

.index table,
.content table {
  width: 100%;
  margin-bottom: 1.5em;
}

.content pre {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 8pt;
}

.about {
  margin: 2em 0;
  max-width: 500px;
  padding: 1em;
  border: 1px solid #464646;
}

.about h2 {
  display: inline-block;
  padding: 0 0.2em;
  margin-top: -1.8em;
  /*background: #000;*/
  text-transform: uppercase;
  color: #9a5050;
  letter-spacing: 0.4em;
}

/* .tools class is not used. */
/* .tools img {
  width: 47px;
} */


.icon-box {
  display: flex;
  gap: 70px;
  align-items: start;
  justify-content: space-between;
  max-height: 400px;
  overflow: auto;
  border: 1px solid #464646;
  margin-bottom: 25px;
  padding: 15px;
  background: #101010;
  scrollbar-color: #424242 #101010;
}

.icon-box ul {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 80px);
  align-items: center;
  padding: 0;
  margin: 0;
}

.icon-box ul:last-child li:last-child {
  grid-column-start: 2;
}

.icon-box figure {
  width: 100%;
  height: 100%;
  margin: 0;
}

.icon-box img {
  width: 42px;
  height: 42px;
  border: none;
  margin: 0 auto;
}

.icon-box figcaption {
  max-width: 100%;
  height: 34px;
  font-family: monospace;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-box a {
  color: inherit;
}


.showroom {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  margin: 5em 0;
  align-content: flex-start;
}

.showroom img {
  max-width: 250px;
  max-height: 250px;
  object-fit: cover;
  margin: 0;
}

/* .hub class is not used */
/* .hub a:link {
  color: #ac876d;
}

.hub a:visited {
  color: #ac876d;
} */

/* red text for notes of primary importance */
.primenote {
  color: #9a5050;
}

/* blue text for notes of secondary importance */
.secnote {
  color: #7ca6cf;
}

/* important table */
.imptable {
  background: #a1a582;
  color: #000;
}

.imptable a:visited {
  color: #003972;
}

.cmd {
  font-family: Courier New;
  font-size: 12pt;
}

.ende {
  font-family: verdana, helvetica;
  font-size: 8pt;
  text-align: center;
}

footer {
  width: 100%;
  padding: 1em 1em;
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  font-family: "IBM VGA 8x16", monospace;
}


/* Mobile Screen */

@media only screen and (max-width: 920px) {
  body {
    --header-padding-top: 96px;

    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  body:has(#menu-toggle:checked) {
    overflow: hidden;
    /* Header height + header padding. */
    padding-top: calc(245.962px + var(--header-padding-top));
  }

  nav {
    position: initial;
    height: initial;
    /* Having this set overflow to "initial", makes it so the scroll position will be restored when the mobile navigation is opened again, otherwise it is reset each time the .main-nav is closed. (For some reason) */
    overflow: initial;
    width: 100%;
  }

  body:has(#menu-toggle:checked) nav {
    top: 0;
    left: 0;
    height: 100dvh;
    overflow: auto;
    position: fixed;
    z-index: 10;

    /* Set these styles only when opening the nav, because otherwise, due to the backdrop-filter property, a stacking context will be formed, and with it the nav element will become the containing block of the elements like .menu-bar, and it won't act as a fixed element relative to the viewport anymore, but to the nav itself. */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.8);
  }

  .menu-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    line-height: 1;
    padding: 3px;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgb(25, 25, 25, 0.8); /*background: rgba(0, 0, 0, 0.8);*/
    border-bottom: 2px solid rgb(0, 0, 0, 0.9);
  }

  .menu-btn {
    background: rgb(25, 25, 25); 
    border-top: 2px solid #464646;
    border-left: 2px solid #464646;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }

  body:has(#menu-toggle:checked) .menu-bar {
    position: sticky;
    top: 0;
    box-shadow: 0 30px 40px rgba(31, 22, 22, 0.1);
    margin-bottom: 18px;
  }

  label[for="menu-toggle"] {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 2px 20px;
    color: #a1a582;
    font-size: 18px;
    user-select: none;
    cursor: pointer;
  }

  label[for="menu-toggle"]::selection {
    background-color: transparent;
    color: inherit;
  }

  .menu-icon {
    width: 70px;
  }

  .systray {
    background: rgb(25, 25, 25); 
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid #464646;
    border-bottom: 2px solid #464646;
  }
  .systray ul {
    display: flex;
    gap: 12px;
    padding: 8px;
    margin: 0;
  }
  .systray img {
    max-width: 16px;
    max-height: 16px;
  }

  body:has(#menu-toggle:checked) header {
    display: none;
  }

  header h1 {
    margin: 0 1em 2em;
  }

  .menu-index {
    display: none;
  }

  body:has(#menu-toggle:checked) .menu-index {
    display: block;
  }

  main {
    padding: 0 1em;
  }

  .index,
  .content {
    min-width: initial;
  }

  footer {
    padding: 0 0.5em;
    display: flex;
    justify-content: center;
  }
}
