
<ul class="base-links">
  <li><a href="/README">README</a></li>
  <li><a href="/Changelog">Changelog</a></li>
  <li><a href="https://github.com/PhoenixTales/gothic-devkit" target="_blank">Git</a></li>
</ul>

<h2>GDATA</h2>
<ul>
  <li>_work/</li>
	  <ul>
	    <li>data/</li>
        <ul>
          <li><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/gothic/_work/data/Anims" target="_blank">Anims</a></li>
          <li><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/gothic/_work/data/Meshes" target="_blank">Meshes</a></li>
          <li><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/gothic/_work/data/Scripts" target="_blank">Scripts</a></li>
          <li><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/gothic/_work/data/Textures" target="_blank">Textures</a></li>
          <li><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/gothic/_work/data/Worlds" target="_blank">Worlds</a></li>
        </ul>
	    <li><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/gothic/_work/Tools" target="_blank">Tools/</a></li>
    </ul>
</ul>
<ul>
  <li class="notree"><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/gothic/system" target="_blank">system/</a></li>
</ul>

<h2>Documentation</h2>
<ul>
  <li>General</li>
    <ul>
      <li><a href="/docs/mod/mdk-introduction.htm">Introduction</a></li>
      <li>Directory Structure</li>
      <li><a href="/docs/mod/gothic_mod.htm">Mod Creation and Installation</a></li>
      <li><a href="/docs/mod/gothic_mod_ini.htm">.ini file for Gothic mods</a></li>	
    </ul>
  <li>Scripts</li>
    <ul>
      <li><a href="/docs/skripte/gothic_skriptsprache.htm"><i>Daedalus</i>: The script language</a></li>
      <li><a href="/docs/skripte/gothic_skripte.htm">Gothic Scripts</a></li>
      <li>Classes</li>
        <ul>
          <li><a href="/docs/skripte/classes/c_info">C_INFO</a></li>
          <li>C_ITEM</li>
          <li>C_MENU</li>
            <ul>
              <li>C_MENU_ITEM</li>
            </ul>
          <li>C_MUSICSYS_CFG</li>
          <li>C_MUSICTHEME</li>
          <li>C_SVM</li>
        </ul>
      <li>Extenders</li>
        <ul>
          <li>AFSP</li>
          <li>Ikarus</li>
          <li>LeGo</li>
          <li>Standalone</li>
          <li>zParserExtender</li>
        </ul>
      <li>Externals</li>
        <ul>
          <li>Doc functions</li>
          <li>Log functions</li>
          <li>MDL functions</li>
        </ul>
    </ul>
  <li>Animations</li>
    <ul>
      <li>MDS ModelScript</li>
      <li>EventBlocks</li>
    </ul>
  <li>Meshes</li>
  <li>Music</li>
  <li>Sound</li>
  <li>Textures</li>
    <ul> 
     <!-- <li>(zTex file reference, format hints, multi-textures)</li> // Hide to fix pushing the main content into Nirvana before an actual fix -->
    </ul>
  <li>Video</li>
  <li>Worlds</li>
    <ul>
      <li>Classes</li>
        <ul>
          <li>zCVob</li>
        </ul>
      <li>The Waynet System</a>
    </ul>
  <li><!--<a href="/docs/zengin/zengin_pfx.htm">-->Particle effects (PFX)</li>
  <li>ZenGin (Graphics-Engine)</li>
    <ul>
      <li>Version History</li>
      <li>Gothics file formats</li>
      <li>VDFS (virtual disk file system)</li>
      <li>Object persistence</li>
    </ul>		
  <li>Basic Programmes</li>
    <ul>
      <li><!--<a href="/docs/tools/gothic_tools_spy.htm">-->zSpy</li>
      <li><!--<a href="/docs/tools/gothic_tools_starter.htm">-->GothicStarter</li>
      <li><a href="/docs/spacer/index.htm">Spacer</a></li>
	<ul>
	  <li>Spacer Introduction</li>
	  <li>Materials</li>
	  <li>Object Editing</li>
	  <li>Objects</li>
	  <li>VobTypes</li>
	</ul>
    </ul>	
  <li>Community Tools</li>
    <ul>
      <li>GothicVDFS</li>
      <li>GothicSourcer</li>
      <li>Daedalus Language Server</li>
      <li>DecDat</li>
      <li>Kerrax Imp/Exp</li>
      <li>GothicZTEX</li>
      <li>GoTex</li>
      <li>Ninja</li>
      <li>Union</li>
        <ul>
	  <li>Union SDK</li>
	  <li>Plugins</li>
	    <!--<ul>
	      <li>zGamePad</li>
	      <li>zBassMusic</li>
	    </ul>-->
	</ul>
    </ul>	
  <li>Tutorials
    <ul>
      <li>3D Modeling</li>
	<ul>
	  <li><!--<a href="/docs/zengin/zengin_models.htm">-->3D models</li>
	  <li><!--<a href="/docs/zengin/zengin_portale.htm">-->Portals</li>
	  <li><!--<a href="/docs/tutorials/figuren/monster-tutorial.htm">-->From a 3D model to an NPC</li>
	  <li><!--<a href="/docs/tutorials/level/level-tutorial.htm">-->Creation of an Outdoor level</li>
	</ul>
      <li>Scripting</a>
        <ul>
          <li>VSCode/VSCodium Setup</li>
	  <li>Basic Script tutorial</li>
          <li>LensFlare Scripts</li>
	</ul>
      <li>Animating</li>
	<ul>
	  <li>Standalone animation</li>
	</ul>
      <li>Sound</li>
	<ul>
	  <li>Changing Sound Effect</li>
	</ul>
      <li><!--<a href="/docs/tutorials/anmerkungen.html">-->Notes</li>
    </ul>
  <li><b>Console</b>
    <ul>
      <li><!--<a href="/docs/misc/console.htm">-->Commands</li>
    </ul>
</ul>

<h2>Tools</h2>
<ul class="tree">
  <li class="notree">General</li>
    <ul class="tree">
      <li><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/GothicSourcer"  target="_blank">GothicSourcer</a></li>
      <li><a href="https://github.com/Kirides/DaedalusLanguageServer" target="_blank">Daedalus Language Server</a></li>
    </ul>
  <li>3D Modeling/</li>
    <ul>
      <li><a href="https://download.blender.org/release/" target="_blank">Blender</a></li>
	<ul>
	  <li><a href="https://github.com/houkama/KrxImpExp-Blender" target="_blank">Kerrax Imp/Exp</a></li>
	  <li><a href="https://forum.worldofplayers.de/forum/threads/1516186-Tool-ZenVis" target="_blank">ZenVis</a></li>
	</ul>
      <li>3DS MAX (outdated)</li>
      <li>MilkShape 3D (outdated)</li>
    </ul>
  <li>Textures/</li>
    <ul>
      <li><a href="https://www.gimp.org/downloads/" target="_blank">GIMP</a></li>
      <li><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/FNTEdit" target="_blank">FNTEdit</a></li>
      <li><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/Font2Targa" target="blank">Font2Targa</a></li>
      <li><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/GoMan" target="_blank">GoMan</a> (outdated)</li>
      <li>GoTex</li>
      <li><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/GothicZTEX" target="_blank">GothicZTEX</a></li>
      <li><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/zTexTools" target="_blank">zTexTools</a></li>
    </ul>	
  <li>VDFS Volumes/</li>
    <ul>
      <li><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/GothicVDFS" target="_blank">GothicVDFS</a></li>
      <li><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/GothicVdfsOpt" target="_blank">GothicVdfsOpt</a></li>
      <li><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/VDFManager" target="_blank">VDFManager</a></li>
      <li>VDFS Tool</li>
    </ul>
  <li>Scripting/</li>
    <ul>
      <li>DecDat</li>
      <li><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/Redefix" target="_blank">Redefix</a></li>
    </ul>
  <li>ZenGin Updates/Extensions/</li>
    <ul>
      <li><a href="https://worldofplayers.ru/threads/40376/" target="_blank">Union SDK</a></li>
      <li><a href="https://worldofplayers.ru/forums/940/" target="_blank">GEngine</a></li>
    </ul>
  <li>ZenGin Reimplementations/</li>
    <ul>
      <li><a href="https://github.com/REGoth-project/REGoth-bs" target="_blank">ReGoth</a></li>
      <li><a href="https://github.com/Try/OpenGothic" target="_blank">OpenGothic</a></li>
    </ul>
</ul>
	
<section class="download">
  <h2>Get the complete MDK</h2>
  <a href="https://github.com/PhoenixTales/gothic-devkit/archive/refs/heads/main.zip"><p>GothicMDK.zip [167 MB]</p></a>
</section>
		
<ul class="copyright">
  <li>For non-commercial purposes only!</li>
  <li>GOTHIC&trade; (2001) &copy; by THQ Nordic</li>
  <li>GMDK Website &copy; by Phoenix Tales</li>
</ul>
<!--<a href="https://phoenixtales.de" target="_blank"><img class="phoenix-ascii" src="_img/phoenix-ascii.svg" alt="The Gothic MDK Website was created by Phoenix Tales"></a>-->


