<ul class="base-links">
  <li><a href="/README">README</a></li>
  <li><a href="/Changelog">Changelog</a></li>
</ul>

<h2>GDATA</h2>
<ul class="tree">
  <li>
    <details open>
      <summary>_work/</summary>
      <ul>
        <li>
          <details open>
            <summary>data/</summary>
            <ul>
              <li>
                <a
                  href="https://github.com/PhoenixTales/gothic-devkit/tree/main/gothic/_work/data/Anims"
                  target="_blank"
                  >Anims</a
                >
              </li>
              <li>
                <a
                  href="https://github.com/PhoenixTales/gothic-devkit/tree/main/gothic/_work/data/Meshes"
                  target="_blank"
                  >Meshes</a
                >
              </li>
              <li>
                <a
                  href="https://github.com/PhoenixTales/gothic-devkit/tree/main/gothic/_work/data/Scripts"
                  target="_blank"
                  >Scripts</a
                >
              </li>
              <li>
                <a
                  href="https://github.com/PhoenixTales/gothic-devkit/tree/main/gothic/_work/data/Textures"
                  target="_blank"
                  >Textures</a
                >
              </li>
              <li>
                <a
                  href="https://github.com/PhoenixTales/gothic-devkit/tree/main/gothic/_work/data/Worlds"
                  target="_blank"
                  >Worlds</a
                >
              </li>
            </ul>
          </details>
        </li>
        <li>
          <a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/gothic/_work/Tools" target="_blank"
            >Tools/</a
          >
        </li>
      </ul>
    </details>
  </li>
  <li><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/gothic/system">system/</a></li>
</ul>

<h2>Documentation</h2>
<ul class="tree">
  <li>
    <details open>
      <summary>General</summary>
      <ul>
        <li class="mad-doc"><a href="/docs/mod/mdk-introduction.htm">Introduction</a></li>
        <li><a href="/docs/about">About the GothicMDK</a></li>
        <!--<li>Directory Structure</li>-->
        <li class="mad-doc"><a href="/docs/mod/gothic_mod.htm">Mod Creation and Installation</a></li>
        <li class="mad-doc"><a href="/docs/mod/gothic_mod_ini.htm">.ini file for Gothic mods</a></li>
      </ul>
    </details>
  </li>

  <li>
    <details open>
      <summary>Scripts</summary>
      <ul>
        <li class="mad-doc">
          <a href="/docs/skripte/gothic_skriptsprache.htm"><i>Daedalus</i>: The script language</a>
        </li>
        <li class="mad-doc"><a href="/docs/skripte/gothic_skripte.htm">Gothic Scripts</a></li>

        <li>
          <details>
            <summary>Classes</summary>
            <ul>
              <li><a href="/docs/skripte/classes/c_info">C_INFO</a></li>
              <li>C_ITEM</li>

              <li>
                <details open>
                  <summary>C_MENU</summary>
                  <ul>
                    <li>C_MENU_ITEM</li>
                  </ul>
                </details>
              </li>

              <li>C_MUSICSYS_CFG</li>
              <li>C_MUSICTHEME</li>
              <li>C_SVM</li>
            </ul>
          </details>
        </li>

        <!-- <li>
          <details open>
            <summary>Extenders</summary>
            <ul>
              <li>AFSP</li>
              <li>Ikarus</li>
              <li>LeGo</li>
              <li>Standalone</li>
              <li>zParserExtender</li>
            </ul>
          </details>
        </li> -->

        <li>
          <details>
            <summary>Externals</summary>
            <ul>
              <li>Doc functions</li>
              <li>Log functions</li>
              <li>MDL functions</li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>

  <li>
    <details open>
      <summary>Animations</summary>
      <ul>
        <li>MDS ModelScript</li>
        <li>EventBlocks</li>
      </ul>
    </details>
  </li>

  <li>Meshes</li>
  <li>Music</li>
  <li>Sound</li>

  <li>Textures</li>
  <!-- <ul> 
     <li>(zTex file reference, format hints, multi-textures)</li> // Hide to fix pushing the main content into Nirvana before an actual fix
    </ul> -->
  <!--<li>Video</li>-->

  <li>
    <details open>
      <summary>Worlds</summary>
      <ul>
        <li>
          <details>
            <summary>Classes</summary>
            <ul>
              <li>zCVob</li>
            </ul>
          </details>
        </li>

        <li>The Waynet System</li>
      </ul>
    </details>
  </li>

  <li><!--<a href="/docs/zengin/zengin_pfx.htm">-->Particle effects (PFX)</li>

  <li>
    <details open>
      <summary>ZenGin (Graphics-Engine)</summary>
      <ul>
        <li>Version History</li>
        <li>Gothics file formats</li>
        <li>VDFS (virtual disk file system)</li>
        <li>Object persistence</li>
      </ul>
    </details>
  </li>

  <li>
    <details open>
      <summary>Basic Programmes</summary>
      <ul class="mad-doc">
        <li><!--<a href="/docs/tools/gothic_tools_spy.htm">-->zSpy</li>
        <li><!--<a href="/docs/tools/gothic_tools_starter.htm">-->GothicStarter</li>

        <li>
          <details open>
            <summary><a href="/docs/spacer/index.htm">Spacer</a></summary>
            <ul>
              <li><a href="/docs/spacer/spacer.htm">Introduction</a></li>
              <li><a href="/docs/spacer/materials.htm">Materials</a></li>
							<li><a href="/docs/spacer/objects.htm">Objects</a></li>
							<li>Object Editing</li>
              <li>VobTypes</li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>

  <!-- <li>
    <details open>
      <summary>Community Tools</summary>
      <ul>
        <li>GothicVDFS</li>
        <li>GothicSourcer</li>
        <li>Daedalus Language Server</li>
        <li>DecDat</li>
        <li>Kerrax Imp/Exp</li>
        <li>GothicZTEX</li>
        <li>GoTex</li>
        <li>Ninja</li>

        <li>
          <details open>
            <summary>Union</summary>
            <ul>
              <li>Union SDK</li>

              <li>
                <details open>
                  <summary>Plugins</summary>
                  <ul>
                    <li>zGamePad</li>
                    <li>zBassMusic</li>
                  </ul>
                </details>
              </li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li> -->

  <li>
    <details open>
      <summary>Tutorials</summary>
      <ul>
        <li>
          <details>
            <summary>3D Modeling</summary>
            <ul>
              <li><!--<a href="/docs/zengin/zengin_models.htm">-->3D models</li>
              <li><!--<a href="/docs/zengin/zengin_portale.htm">-->Portals</li>
              <li><!--<a href="/docs/tutorials/figuren/monster-tutorial.htm">-->From a 3D model to an NPC</li>
              <li><!--<a href="/docs/tutorials/level/level-tutorial.htm">-->Creation of an Outdoor level</li>
            </ul>
          </details>
        </li>

        <li>
          <details>
            <summary>Scripting</summary>
            <ul>
              <li>VSCode/VSCodium Setup</li>
              <li>Basic Script tutorial</li>
              <li>LensFlare Scripts</li>
            </ul>
          </details>
        </li>

        <li>
          <details>
            <summary>Animating</summary>
            <ul>
              <li>Standalone animation</li>
            </ul>
          </details>
        </li>

        <li>
          <details>
            <summary>Sound</summary>
            <ul>
              <li>Changing Sound Effect</li>
            </ul>
          </details>
        </li>

        <li><!--<a href="/docs/tutorials/anmerkungen.html">-->Notes</li>
      </ul>
    </details>
  </li>

  <li>
    <details open>
      <summary>Console</summary>
      <ul>
        <li><!--<a href="/docs/misc/console.htm">-->Commands</li>
      </ul>
    </details>
  </li>
</ul>

<h2>Tools</h2>
<ul class="tree">
  <li>
    <details>
      <summary>General</summary>
      <ul>
        <li>
          <a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/GothicSourcer" target="_blank"
            >GothicSourcer</a
          >
        </li>
        <li><a href="https://github.com/Kirides/DaedalusLanguageServer" target="_blank">Daedalus Language Server</a></li>
      </ul>
    </details>
  </li>
  
  <li>
    <details>
      <summary>3D Modeling/</summary>
      <ul>
        <li>
          <details open>
            <summary><a href="https://download.blender.org/release/" target="_blank">Blender</a></summary>
            <ul>
              <li><a href="https://github.com/houkama/KrxImpExp-Blender" target="_blank">Kerrax Imp/Exp</a></li>
              <li><a href="https://forum.worldofplayers.de/forum/threads/1516186-Tool-ZenVis" target="_blank">ZenVis</a></li>
            </ul>
          </details>
        </li>

        <li>3DS MAX (outdated)</li>
        <li>MilkShape 3D (outdated)</li>
      </ul>
    </details>
  </li>
  
  <li>
    <details>
      <summary>Textures/</summary>
      <ul>
        <li><a href="https://www.gimp.org/downloads/" target="_blank">GIMP</a></li>
        <li><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/FNTEdit" target="_blank">FNTEdit</a></li>
        <li>
          <a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/Font2Targa" target="blank">Font2Targa</a>
        </li>
        <li>
          <a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/GoMan" target="_blank">GoMan</a> (outdated)
        </li>
        <li>GoTex</li>
        <li>
          <a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/GothicZTEX" target="_blank">GothicZTEX</a>
        </li>
        <li>
          <a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/zTexTools" target="_blank">zTexTools</a>
        </li>
      </ul>
    </details>
  </li>

  <li>
    <details>
      <summary>VDFS Volumes/</summary>
      <ul>
        <li>
          <a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/GothicVDFS" target="_blank">GothicVDFS</a>
        </li>
        <li>
          <a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/GothicVdfsOpt" target="_blank"
            >GothicVdfsOpt</a
          >
        </li>
        <li>
          <a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/VDFManager" target="_blank">VDFManager</a>
        </li>
        <li>VDFS Tool</li>
      </ul>
    </details>
  </li>

  <li>
    <details>
      <summary>Scripting/</summary>
      <ul>
        <li>DecDat</li>
        <li><a href="https://github.com/PhoenixTales/gothic-devkit/tree/main/tools/Redefix" target="_blank">Redefix</a></li>
      </ul>
    </details>
  </li>

  <li>
    <details>
      <summary>ZenGin</summary>
      <ul>
        <li>
          <details open>
            <summary>Updates/Extensions</summary>
            <ul>
              <li><a href="https://worldofplayers.ru/threads/40376/" target="_blank">Union SDK</a></li>
              <li><a href="https://worldofplayers.ru/forums/940/" target="_blank">GEngine</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details open>
            <summary>Reimplementations</summary>
            <ul>
              <li><a href="https://github.com/REGoth-project/REGoth-bs" target="_blank">ReGoth</a></li>
              <li><a href="https://github.com/Try/OpenGothic" target="_blank">OpenGothic</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>

</ul>

<section class="download">
  <h2>Get the complete MDK</h2>
  <a href="https://github.com/PhoenixTales/gothic-devkit/archive/refs/heads/main.zip"><p>GothicMDK.zip [167 MB]</p></a>
</section>

<ul class="copyright">
  <li>For non-commercial purposes only!</li>
  <li>GOTHIC&trade; (2001) &copy; by THQ Nordic</li>
  <li>GMDK Website &copy; by Phoenix Tales</li>
</ul>
<!--<a href="https://phoenixtales.de" target="_blank"><img class="phoenix-ascii" src="_img/phoenix-ascii.svg" alt="The Gothic MDK Website was created by Phoenix Tales"></a>-->
