
	<ul>
		<li><a href="docs/gothic.htm">docs/</a></li>
	</ul>

	<ul>
		<li>GOTHIC/</li>
			<ul>
				<li>_work/</li>
					<ul>
						<li>data/</li>
							<ul>
								<li><a href="">Anims</a></li>
								<li><a href="">Meshes</a></li>
								<li><a href="">Scripts</a></li>
								<li>Textures</li>
								<li><a href="">Worlds</a></li>
							</ul>
						<li>Tools/</li>
					</ul>
				<li class="notree">system/</li>
			</ul>
	</ul>

	<ul>
		<li>tools/</li>
			<ul class="tree">
				<li class="notree">General</li>
					<ul class="tree">
						<li><a href="">GothicSourcer</a></li>
						<li><a href="https://github.com/Kirides/DaedalusLanguageServer" target="_blank">Daedalus Language Server</a></li>
					</ul>
				<li>3D Modeling/</li>
					<ul>
						<li><a href="https://download.blender.org/release/" target="_blank">Blender</a></li>
							<ul>
								<li><a href="https://github.com/houkama/KrxImpExp-Blender" target="_blend">Kerrax Imp/Exp</a></li>
								<li><a href="https://forum.worldofplayers.de/forum/threads/1516186-Tool-ZenVis" target="_blank">ZenVis</a></li>
							</ul>
						<li>3DS MAX (outdated)</li>
						<li>MilkShape 3D (outdated)</li>
					</ul>
				<li>Textures/</li>
					<ul>
						<li><a href="https://www.gimp.org/downloads/" target="_blank">GIMP</a></li>
						<li><a href="">FNTEdit</a></li>
						<li><a href="">Font2Targa</a></li>
						<li><a href="">GoMan</a></li>
						<li><a href="">GoTex</a></li>
						<li><a href="">GothicZTEX</a></li>
						<li><a href="">zTexTools</a></li>
					</ul>	
				<li>VDFS Volumes/</li>
					<ul>
						<li><a href="">GothicVDFS</a></li>
						<li><a href="">GothicVdfsOpt</a></li>
						<li><a href="">VDFManager</a></li>
						<li><a href="">VDFS Tool</a></li>
					</ul>
				<li>Scripting/</li>
					<ul>
						<li><a href="">DecDat</a></li>
						<li><a href="">Redefix</a></li>
					</ul>
			</ul>
	</ul>

	<ul>
		<li>ZenGin Updates/Extensions/</li>
			<ul>
				<li><a href="https://worldofplayers.ru/threads/40376/" target="_blank">Union SDK</a></li>
				<li><a href="https://worldofplayers.ru/forums/940/" target="_blank">GEngine</a></li>
			</ul>
	</ul>

	<ul>
		<li>ZenGin Reimplementations/</li>
			<ul>
				<li><a href="https://github.com/REGoth-project/REGoth-bs" target="_blank">ReGoth</a></li>
				<li><a href="https://github.com/Try/OpenGothic" target="_blank">OpenGothic</a></li>
			</ul>
	</ul>

	<ul>
		<li><a href="README.md" target="_blank">README</a></li>
		<li><a href="Changelog.txt" target="_blank">Changelog</a></li>
		<li><a href="https://github.com/PhoenixTales/gothic-devkit">Git</a></li>
	</ul>

	
	<section class="download">
		<h2>Get the complete MDK</h2>
		<a href="https://github.com/PhoenixTales/gothic-devkit/archive/refs/heads/main.zip"><p>GothicMDK.zip [167 MB]</p></a>
	</section>
		
	<ul class="copyright">
		<li>For non-commercial purposes only!</li>
		<li>GOTHIC&trade; (2001) &copy; by THQ Nordic</li>
		<li>GMDK Website &copy; by Phoenix Tales</li>
	</ul>
	<!--<a href="https://phoenixtales.de" target="_blank"><img class="phoenix-ascii" src="_img/phoenix-ascii.svg" alt="The Gothic MDK Website was created by Phoenix Tales"></a>-->

<!--
<section class="showroom">
	<img src="_img/projects/hut1.png">
	<img src="_img/projects/phoenix-the-elevator.png">
	<img src="_img/projects/phoenix.png">
	<img src="docs/tutorials/figuren/pics/meatbug_m04.jpg">
	<img src="docs/tutorials/level/pics/level_01.jpg">
	<img src="_img/projects/newfogzones-screen.png">
</section>
-->

