<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{site.title}} | {{page.title}}</title>
        <link rel=stylesheet type="text/css" href="/style.css">
        <link rel="icon" type="image/x-icon" href="/_img/gmdk.ico" />
    </head>
    
    <body>

      <nav>
        <div class="menu-bar">
          <div class="menu-btn">
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle">
                <img src="/_img/mdk-menu.png" class="menu-icon" alt="">
            </label>
          </div>
          <div class="systray">
            <ul>
              <li><a href="https://ko-fi.com/flosha" target="_blank"><img src="/_img/icons/systray/ko-fi-white-sm.png"></a></li>
              <li><a href="https://discord.gg/5uHcsEJ44h" target="_blank"><img src="/_img/icons/systray/discord.png"></a></li>
              <li><a href="https://github.com/PhoenixTales" target="_blank"><img src="/_img/icons/systray/GitHub-Mark-Light-32px.png"></a></li>
              <li>v1.4</li>
            </ul>
          </div>
        </div>
        
        <header>
          <img src="/_img/mdk4.png" alt="Gothic MDK Logo">
          <a href="/"><h1>Gothic MDK v1.4.1</h1></a>
        </header>

        <div class="menu-index">{% include nav.html %}</div>
      </nav>
      
      <main>
        <section class="article">
          {{ content }}
        </section>
        
        {% include footer.html %}
      </main>
      
      <!--<div class="dir">
        <a href="{{page.dir}}">{{page.dir}}</a><span>{{page.name}}</span>
      </div>-->

    </body>
</html>
