<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{site.title}} | {{page.title}}</title>
        <link rel=stylesheet type="text/css" href="/style.css">
        <link rel="icon" type="image/x-icon" href="/_img/gmdk.ico" />
    </head>
    
    <body>

      <nav>
        <div class="menu-toggle-btn">
          <input type="checkbox" id="menu-toggle">
          <label for="menu-toggle">
              <span class="menu-icon">&#8801;</span>
              <span class="menu-title">Menu</span>
          </label>
        </div>
        
        <header>
          <img src="/_img/mdk4.png" alt="Gothic MDK Logo">
          <a href="/"><h1>Gothic MDK v1.4.1</h1></a>
        </header>
        
        <div class="menu-index">{% include nav.html %}</div>
      </nav>
      
      <main>
        <section class="article">
          {{ content }}
        </section>
        
        {% include footer.html %}
      </main>
      
      <!--<div class="dir">
        <a href="{{page.dir}}">{{page.dir}}</a><span>{{page.name}}</span>
      </div>-->

    </body>
</html>
